{% extends 'layout.html' %}
{% include '/components/navbar.html' %}

{% block style %}

.container-fluid {
  font-family: 'PT Sans Caption',"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  font-size: 3vh;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  text-decoration: none;
  color: white;
  font-size: 5vh;
  font-weight: bold;
}

#menu-icon {
  font-family: Geneva, sans-serif;
  font-size: 6vh;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60vh;
  padding: 1em;
  box-sizing: border-box;
  color: white;
  background-size: cover;
}

.hero-title {
  max-width: 16em;
  margin: 0;
  font-size: 12vh;
  font-weight: bold;
  line-height: 1;
}

@media only screen and (min-width: 32em) {
  .hero-title {
    font-size: 12vh;
  }
}
.hero-footer {
  display: flex;
  margin-bottom: 1em;
}

.button {
  padding: .5em .67em;
  color: white;
  text-decoration: none;
  border: .1em solid white;
}

.button-primary {
  color: black;
  background-color: white;
}

article {
  font-size: 3vh;
  max-width: 36em;
  margin: 0 auto;
  padding: 1em;
}

.ticket-toggle{
    border: 2px solid black;
    width: 100%;
    height: 40px;
}

.ticket-toggle:hover{
    border: 2px solid black;
    background-color: none !important;
}

.ticket-body{
    width: 100%;
    margin-left: 0px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 1px;
    border-spacing: 0;
    margin-top: -2px;
}

.ticket-number{
    width: 100%;
    height: 40px;
    padding: 5px;
}

.add-new-button-toggle {
    position: fixed;
    bottom: 15px;
    right: 15px;
    border: 2px solid black;
    width: 15vw;
    padding: 5px;

}


.submit-button {
    border: 2px solid black;
    width: 10vw;
    padding: 5px;
}

.create-new-modal{
    border: 4px solid black;
}

.modal-input {
    border: 2px solid black;
    margin: 5px;
    padding: 7px;
}

.header {
    border: 4px solid black;
    font-weight: bold;
}

.box{
  position:absolute;
  top:50%;
  left:50%;
  transform : translate(-50% ,-50%);
}

.btn:link,
.btn:visited{
  text-decoration: none;
  text-transform:uppercase;
  position:relative;
  top:0;
  left:0;
  padding:20px 40px;
  border-radius:100px;
  display:inline-block;
  transition: all .5s;
}

.btn-white{
  background:#fff;
  color:#000;
}

.btn:hover{
   box-shadow:0px 10px 10px rgba(0,0,0,0.2);
   transform : translateY(-3px);
}

.btn:active{
  box-shadow:0px 5px 10px rgba(0,0,0,0.2)
  transform:translateY(-1px);
}

.btn-bottom-animation-1{
  animation:comeFromBottom 1s ease-out .8s;
}

.btn::after{
  content:"";
  text-decoration: none;
  text-transform:uppercase;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  border-radius:100px;
  display:inline-block;
  z-index:-1;
  transition: all .5s;
}

.btn-white::after {
    background: #fff;
}

.btn-animation-1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@keyframes comeFromBottom{
  0%{
    opacity:0;
    transform:translateY(40px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}


{% endblock %}



{% block body %}

<div class="container-fluid">


    <section class="hero" style="background: url({{ event.feature_pic }}) center center no-repeat;">
      <header id="header">
        <nav>
          <a id="menu-icon" style="text-align: right;" href="/event/{{ id }}/editor">EDIT</a>
        </nav>
      </header>
      <header class="hero-header">
        <h1 class="hero-title">{{ event.title }}</h1>
      </header>
      <footer class="hero-footer">
        <a class="button button-primary" href="#">{{ time.strftime("%D", time.localtime(event.start_time)) }}</a>
        <a class="button" href="#" data-toggle="modal" data-target="#exampleModal">BUY TICKET</a>
      </footer>
    </section>
    <article>
    {% filter markdown %}{{ event.desc }}{% endfilter %}
    </article>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog border" role="document">

    <form class="modal-content create-new-modal" method="POST">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex flex-column justify-content-around">
        {% for ticket in event.tickets %}
		<div class="ticket m-2 p-2">
			<button class="btn btn-light dropdown-toggle ticket-toggle"
			type="button"
			id="about-us"
			data-toggle="collapse"
			data-target="#{{ ticket.id }}"
            aria-expanded="false"
			aria-controls="{{ ticket.id }}">
				#{{ ticket.tier }} | {{ ticket.title }} | {{ ticket.price }} VNĐ
			</button>
			<div class="collapse flex-nowrap ticket-body" id="{{ ticket.id }}">
              <span class="d-flex">
                <div class="border border-dark p-2" style="width: 80%;">
                  {{ ticket.desc }}
                </div>
                <div class="border border-dark p-2" style="width: 20%;">
                  <input class="ticket-number" name="{{ ticket.id }}" type="number" placeholder="Number" value="0">
                </div>
              </span>
			</div>
		</div>
        {% endfor %}

      </div>
      <div class="modal-footer">
        <button type="submit" class="submit-button">Save changes</button>
      </div>
    </form>

  </div>
</div>


{% endblock %}